.containerCard{
    width: auto;
    padding: 1rem;
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: -10px 10px 5px gray;
    color: black;
    font-size: 1.6rem;
    font-style: italic;
    text-align: center;
    text-shadow: 0px 0px 5px gray;
}